<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Code analysis"
            id="ReturnNullAnalysis">
      </category>
      <view
            name="Return Null View"
            icon="icons/sample.gif"
            category="ReturnNullAnalysis"
            class="returnnullanalysis.ReturnNullView"
            id="returnnullanalysis.views.ReturnNullView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="returnnullanalysis.views.ReturnNullView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
