<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	   point="org.eclipse.jdt.apt.core.annotationProcessorFactory" >
		<java6processors enableDefault="true">
			<java6processor class="com.salexandru.corex.annotationProcessor.XAnnotationProcessor"/>
		</java6processors>
	</extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="com.salexandru.corex.preferencepage.CorexPropertyPage"
          id="Corex.page1"
          name="Corex"
          objectClass="org.eclipse.jdt.core.IJavaProject">
    </page>
 </extension>
</plugin>
